.menu-container {
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 0px 30px 30px 0px;
  background-color: rgb(242, 242, 242);
  transition: width 0.3s ease;
  width: 350px; /* Default width */

}
.right-side{
  width: 100vw;
}

.menu-container.collapsed {
  width: 100px; /* Collapsed width */
}


.menu-container.collapsed .menu-link {
  display: none; /* Hide the text when collapsed */
}

.menu-container.collapsed .user-info p,
.menu-container.collapsed .user-info img {
  display: none; /* Hide the user info when collapsed */
}

.menu-container.collapsed .submenu {
  display: none; /* Hide the submenu when collapsed */
}

.menu-container.collapsed .start-plan {
  display: none; /* Hide the start plan section when collapsed */
}

.user-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 100px;
  background: linear-gradient(to bottom, rgba(206, 210, 222, 0.5), rgba(204, 204, 205, 0.5));
  margin: 10px;
  padding: 10px;
}

.e {
  font-size: small;
  padding: 5px;
}

.avatar {
  width: 20px;
  border-radius: 50%;
}

.b2b {
  width: 50px;
  height: max-content;
  padding: 5px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 50px 10px 10px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 0px 0px 5px 0px;
  background: linear-gradient(to bottom, rgba(206, 210, 222, 0.5), rgba(204, 204, 205, 0.5));
  border-radius: 20px;
}

.menu-item:hover {
  background-color: transparent;
}

.menu-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-link:hover {
  color: black;
}

.menu-button {
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.914);
  text-decoration: none;
  border-radius: 100px;
  padding: 10px;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  align-self: flex-start;
}

.submenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submenu-button {
  margin: 5px;
  color: black;
  background: linear-gradient(to bottom, rgba(206, 210, 222, 0.5), rgba(204, 204, 205, 0.5));
  border-radius: 100px;
  text-decoration: none;
  padding: 5px;
  width: 200px;
  text-align: center;
  font-size: small;
}

.submenu-button:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.212);
}

.start {
  display: flex;
  justify-content: center;
}

.start-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 20px 10px 10px 10px;
  border-radius: 20px;
  border: 1px solid black;
}

.up {
  text-align: center;
}

@media(max-width:420px){
  .menu-container {
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 0px 50px 50px 0px;
    background-color: rgb(242, 242, 242);
    transition: width 0.3s ease;
    width: 270px; /* Default width */
    position: absolute;
    z-index: 100000000;
   
  
  }
  .menu-container.collapsed {
    width: 0px;

   

  }
  .menu-container.collapsed .avatar{
    width: 10px;
  }

  .user-info{
    margin: 0px;
   overflow: hidden;
    padding: 1%;
  }
  .toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 10vw;
    align-self: flex-start;
  }
  .toggle-button svg {
  border: 1px solid black;
  padding: 8px;
  border-radius: 10px;
  color: black;
  }
  .right-side{
    width: 100vw;
  }
  .user-info{
    padding: 5px;
  }
  

}